.movie {
  border: 2px solid black;
  width:50%;
  height:20%;
  margin-top: 5px;
  margin-left:5px;
  display:flex center;
  flex-direction: row;
  overflow-y: auto;
}

.movieCard {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.movie img {
  width:100px;
  height:100px;
}

.synopsis {
  width: 100%;
  height: 50px;
  font-size: 0.5vw;
  overflow-wrap: break-word;
  overflow-y: auto;
}
